version: '3'

services:
  db:
    container_name: postgresql-container
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: usr
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: test_db
    ports:
      - "5430:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  app:
    container_name: app-container
    build: .
    ports:
      - "9090:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/gis_db
      SPRING_DATASOURCE_USERNAME: usr
      SPRING_DATASOURCE_PASSWORD: pwd
      SPRING_PROFILES_ACTIVE: prod
    volumes:
      - app-log:/var/log/app

volumes:
  db-data:
  app-log: